[submodule "npm-packages/cordova-plugin-meteor-webapp/src/ios/GCDWebServer"]
	path = npm-packages/cordova-plugin-meteor-webapp/src/ios/GCDWebServer
	url = https://github.com/meteor/GCDWebServer.git
	branch = master
